@import "header";





.cp-site-nav{
	background: #ffffff;
	height: 196px;
	.row{
		height: 98px;
		padding: 0;
		margin-left: -1px;

		.col{
			padding: 0;
			width: 25%;
			border-bottom: 1px solid #ebebeb;
			border-left: 1px solid #ebebeb;
			text-align: center;

			a{
				display: block;
			}

			img{
				width: 25px;
				height: 32px;
				margin-top: 20px;
			}
			b{
				display: block;
				font-size: 12px;
			}
		}
	}
}
